* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: jetbrains mono;
}

body {
    background-color: #FFB340;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    border-radius: 30px 30px 30px 30px;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

